/*  Site-specific styles */
td.rotate {
    /* Something you can count on */
    height: 70px;
    white-space: nowrap;
}
td.rotate > div {
    transform:
        translate(-5px, 55px)
        rotate(270deg);
    width: 30px;
/* Safari */
    -webkit-transform:
        translate(-5px, 55px)
        rotate(-90deg);
}
.ui-dialog-buttonset .ui-button {
        position: relative;
        float: right;
        margin-left: 1em;
        color: white;
        background-color: #f78500;
        border: 2px solid #f78500;
        border-radius: 25px;
}
.ui-dialog-buttonset .ui-button:focus,
.ui-dialog-buttonset .ui-button:hover {
        background-color: #f89d32;
        border: 2px solid #f89d32;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close::after {
        margin-top: 0.2em;
        margin-left: auto;
        margin-right: auto;
}

#main h1 {
    margin-bottom: 20px;
}
#main p {
    line-height: 1.5;
}
#list, #projector {
  font-size: 14px;
  border: 5px solid lightgrey;
  display: inline-block;
  min-height: 500px;
}
#list {
  width: 30%;
  overflow-x: auto;
  margin-right: 10px;
}
#projector {
  vertical-align: top;
  width: 65%;
}
#list ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 40px;
  font-size: 110%;
}
#list ul div {
  position: relative;
}
#list ul div:hover, .selected {
  background-color: #e6e6e6;
}
#list li {
  color: #333;
  text-transform: uppercase;
  padding: 10px 20px;
}
#list a:hover {
    text-decoration: none;
}
.switch {
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 20px;
  background-color: #005493;
  width: 40px;
  height: 20px;
  border-radius: 40px;
}
.switch:after {
  position: absolute;
  content: '';
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
}
.switch.on {
  background-color: #54d854;
}
.switch.on:after {
  transform: translateX(20px);
}
.switch.disabled {
  background-color: #ccc;
  pointer-events: none;
}
#main h2 {
  color: #f7f7f7;
  text-transform: capitalize;
  background-color: #005493;
  padding: 13px 20px;
  margin: 0;
  font-size: 16px;
}
#projector div {
  padding: 20px;
  padding-bottom: 40px;
}
#projector div > * {
  margin: 0 0 20px;
}
#projector h1 {
  font-size: 25px;
  text-transform: uppercase;
}
a.btn {
  background: #005493;
  display: inline-block;
  padding: 0 14px;
}
a.btn:hover, a.btn:active {
  background: #537cf3;
}
table#logs {
  display: block;
  border: none;
  table-layout: unset;
  border-spacing: 0;
  overflow-x: auto;
  font-size: 90%;
  margin-bottom: 40px;
}
#logs th, #logs tr {
  background: #f8f8f8;
  color: #333;
}
#logs tr:nth-child(odd) {
  background: #fff;
}
#logs tr:hover {
  background: #dde5fc;
}
#logs td, #logs th {
  border-bottom: 1px solid #d6d6d6;
  padding: 8px 12px;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}
#logs th {
  padding-top: 20px;
}
#logs td:last-child {
  width: 100%;
}
@media (max-width: 768px) {
  #list, #projector {
    display: block;
    width: auto;
    min-height: auto;
    margin: 0 0 10px;
  }
}