<link type="text/css" rel="stylesheet" href="style.css">
<main class="sixtyforty">
    <section>
        <h2>Labs</h2>
        <ul><!-- upper -->
            <li>b220</li>
            <li class="on">b203</li>
        </ul>
        <h2>Meetings</h2>
        <ul>
            <li>w260</li>
        </ul>
    </section>
    <section>
        <div>
            <header>
                <form action="update.php?b220" method="post"><!-- can read OK? -->
                    <label class="toggle">    
                        <span>Power:</span>
                        <input type="checkbox" name="on" checked>
                    </label>
                </form>
                <h1>ELW b220</h1>
                <p>Running since 2:35pm - 13 minutes left</p>
            </header>
            <p>Uptime: 2.6 hours today; 17 hours this week</p>
            <p>Average session: 35 minutes</p>
            <p>Support: Lynn ELW A203</p>
        </div>
        <h2>Logs</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>By</th>
                    <th>Ended via</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3</td>
                    <td>August 8</td>
                    <td>2:35 pm</td>
                    <td>Te A</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>August 8</td>
                    <td>12:14 - 12:24 pm</td>
                    <td>Te A</td>
                    <td>off (remote/button)</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>August 6</td>
                    <td>10:00 - 11:20 am</td>
                    <td>Someone</td>
                    <td>off (web)</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
