/*  Site-specific styles */
td.rotate {
    /* Something you can count on */
    height: 70px;
    white-space: nowrap;
}
td.rotate > div {
    transform:
        translate(-5px, 55px)
        rotate(270deg);
    width: 30px;
/* Safari */
    -webkit-transform:
        translate(-5px, 55px)
        rotate(-90deg);
}
.ui-dialog-buttonset .ui-button {
        position: relative;
        float: right;
        margin-left: 1em;
        color: white;
        background-color: #f78500;
        border: 2px solid #f78500;
        border-radius: 25px;
}
.ui-dialog-buttonset .ui-button:focus,
.ui-dialog-buttonset .ui-button:hover {
        background-color: #f89d32;
        border: 2px solid #f89d32;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close::after {
        margin-top: 0.2em;
        margin-left: auto;
        margin-right: auto;
}

#main h1 {
    margin-bottom: 20px;
}
#main a {
  color: #333;
  text-decoration: none;
}
#list, #projector {
  font-size: 14px;
  border: 5px solid lightgrey;
  display: inline-block;
  min-height: 500px;
}
#list {
  width: 30%;
  overflow-x: auto;
  margin-right: 10px;
}
#projector {
  vertical-align: top;
  width: 65%;
}

#list ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 40px;
  font-size: 110%;
}
#list ul li {
  /* text-transform: uppercase; */
  padding: 10px 20px;
  transition: background-color 0.1s linear;
}
#list ul li:after {
  display: block;
  content: '';
  margin-top: 1px;
  background-color: #ff9393;
  width: 12px;
  height: 12px;
  border: 1px solid grey;
  border-radius: 3px;
  float: right;
}
#list ul li:hover, .selected {
  background-color: #e6e6e6;
}
.on:after {
  background-color: #9dff9d !important;
}

#main h2 {
  color: #f7f7f7;
  text-transform: capitalize;
  background-color: #005493;
  padding: 13px 20px;
  margin: 0;
  font-size: 16px;
}

#projector div {
  padding: 20px;
  padding-bottom: 40px;
}

#projector header {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

#projector p {
  margin: 0 0 20px;
}

#projector h1 {
  font-size: 25px;
  /* text-transform: uppercase; */
  margin: 0 0 10px;
  display: inline-block;
}

.toggle {
  position: relative;
  margin-bottom: 10px;
  display: block;
  float: right;
}

.toggle > input[type="checkbox"] {
  top: 0;
  right: 0;
  visibility: hidden;
  position: absolute;
}

.toggle > span {
  line-height: 24px;
  padding-right: 60px;
  margin-bottom: 10px;
  user-select: none;
}

.toggle > span:before, .toggle > span:after {
  display: block;
  position: absolute;
  content: '';
}

.toggle > span:before {
  top: 0;
  right: 0;
  width: 46px;
  height: 24px;
  background-color: #005493;
  border-radius: 40px;
}

.toggle > span:after {
  right: 24px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.25s;
}

.toggle > input:checked + span:before {
  background-color: #54d854
}

.toggle > input:checked + span:after {
  transform: translateX(22px);
}

table#logs {
  border: none;
  table-layout: unset;
  border-spacing: 0;
  overflow-x: auto;
  font-size: 90%;
  margin-bottom: 40px;
}

#logs th, #logs tr {
  background: #f8f8f8;
  color: #333;
}

#logs tr:nth-child(odd) {
  background: #fff;
}

#logs tr:hover {
  background: #dde5fc;
}

#logs td, #logs th {
  border-bottom: 1px solid #d6d6d6;
  padding: 8px 12px;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

#logs th {
  padding-top: 20px;
}

#logs td:last-child {
  width: 100%;
}
