* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 15px;
  margin: 60px 0;
}

main {
  margin: 0 auto;
  width: 800px;
}

section {
  border: 5px solid lightgrey;
}

.sixtyforty > section {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  max-height: 500px;
}

.sixtyforty > section:nth-child(odd) {
  width: 30%;
  overflow-x: auto;
  margin-right: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 40px;
}

li {
  /* text-transform: uppercase; */
  padding: 10px 20px;
  transition: background-color 0.1s linear;
}

li:after {
  display: block;
  content: '';
  margin-top: 1px; /* ugh */
  background-color: #ff9393;
  width: 12px;
  height: 12px;
  border: 1px solid grey;
  border-radius: 3px;
  float: right;
}

li:hover {
  background-color: #e6e6e6;
}

.on:after {
  background-color: #9dff9d;
}

h2 {
  color: #f7f7f7;
  background-color: #6990da;
  padding: 13px 20px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

section > div {
  padding: 20px;
  padding-bottom: 0;
}

header {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

p {
  margin: 0 0 20px;
}

form {
  float: right;
}

h1 {
  font-size: 20px;
  /* text-transform: uppercase; */
  margin: 0 0 10px;
  display: inline-block;
}

.toggle {
  position: relative;
  margin-bottom: 10px;
  display: block;
}

.toggle > input[type="checkbox"] {
  top: 0;
  right: 0;
  visibility: hidden;
  position: absolute;
}

.toggle > span {
  line-height: 24px;
  padding-right: 60px;
  margin-bottom: 10px;
  user-select: none;
}

.toggle > span:before, .toggle > span:after {
  display: block;
  position: absolute;
  content: '';
}

.toggle > span:before {
  top: 0;
  right: 0;
  width: 46px;
  height: 24px;
  background-color: #005493;
  border-radius: 40px;
}

.toggle > span:after {
  right: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 50%;
  transition: 0.25s;
}

.toggle > input:checked + span:before {
  background-color: #9dff9d
}

.toggle > input:checked + span:after {
  transform: translateX(22px);
}

table {
  width: 100%;
  border-spacing: 0;
  display: block;
  overflow-x: auto;
  font-size: 90%;
  margin-bottom: 40px;
}

th, tr {
  background: #f8f8f8;
}

tr:nth-child(odd) {
  background: #fff;
}

tr:hover {
  background: #dde5fc;
}

td, th {
  border-bottom: 1px solid #d6d6d6;
  padding: 8px 12px;
  padding-right: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

th {
  padding-top: 20px;
}

td:last-child {
  width: 100%;
}
