/*  Site-specific styles */
td.rotate {
    /* Something you can count on */
    height: 70px;
    white-space: nowrap;
}
td.rotate > div {
    transform:
        translate(-5px, 55px)
        rotate(270deg);
    width: 30px;
/* Safari */
    -webkit-transform:
        translate(-5px, 55px)
        rotate(-90deg);
}
.ui-dialog-buttonset .ui-button {
        position: relative;
        float: right;
        margin-left: 1em;
        color: white;
        background-color: #f78500;
        border: 2px solid #f78500;
        border-radius: 25px;
}
.ui-dialog-buttonset .ui-button:focus,
.ui-dialog-buttonset .ui-button:hover {
        background-color: #f89d32;
        border: 2px solid #f89d32;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close::after {
        margin-top: 0.2em;
        margin-left: auto;
        margin-right: auto;
}

.colRow {
	margin-top: 20px !important;
}
.columnbox {
	padding: 20px
}
.columnbox > h3 {
	margin-bottom: 20px;
}

.upper {
	text-transform: uppercase;
}

form > input[type='submit'] {
	min-width: 100px;
}

.toggle {
	position: relative;
	margin-bottom: 10px;
        width: 100%;
}
.toggle > input[type="checkbox"] {
	top: 0;
	left: 0;
	visibility: hidden;
	position: absolute;
}
.toggle > h5 {
	line-height: 24px;
	padding-left: 60px;
	margin-bottom: 10px;
	user-select: none;
        text-align: right;
}
.toggle > h5:before, .toggle > h5:after {
	display: block;
	position: absolute;
	content: '';
}
.toggle > h5:before {
	top: 0;
	left: 0;
	width: 46px;
	height: 24px;
	background-color: #005493;
	border-radius: 40px;
}
.toggle > h5:after {
	left: 2px;
	top: 2px;
	width: 20px;
	height: 20px;
	background-color: #f3f3f3;
	border-radius: 50%;
	transition: 0.25s;
}
.toggle > input:checked + h5:after {
	transform: translateX(22px);
}
.toggle span {
	float: left;
}

.logs {
	clear: both;
}
.logs h5 {
	display: inline-block;
}
.logs ul {
	list-style: none;
	width: 80%;
	float: right;
}
.logs li {
	color: white;
	background-color: #005493;
	border-radius: 4px;
	padding: 10px;
}
.logs li > div:first-child {
	float: right;
}